<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Wordpress Shortcode</title>
    </head>
    <body>
        <h4>Welcome [user name="Guest"]</h4>
        <strong>Level : [level id="1"]</strong>

        <hr>

        <strong>Notifications: </strong>
        <div>[notifications]</div>
        <div>[test]</div>
    </body>
</html>