.account-page {
    margin: -20px;
    .account-cover{
        position: relative;
        background-repeat: no-repeat;
        width: 100%;
        height: 160px;
        max-height: 180px;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
        background-position: center center !important;

        .account-cover-avatar{
            @include avatar(100px);
            position: absolute;
            padding: 0;
            left: 30px;
            top: 50%;
            transform: translateY(-50%);
            border: 6px solid $white;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0 1px 2px 1px rgba(0,0,0,0.3);
            background: #fff;
        }

        .account-cover-info{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 150px;
            max-width: 100%;
            a{
                font-size: 2rem;
                font-weight: 500;
                line-height: 24px;
                position: relative;
                color: #FFF;
                text-rendering: optimizelegibility;
                text-shadow: 0 0 3px rgba(0,0,0,0.8);
                display: block;
            }

            span{
                color: #fff;
                text-shadow: 0 0 3px rgba(0,0,0,0.8);
                font-size: 1rem;
                a{
                    font-size: 1rem;
                    display: inline-block;
                }
            }
            small{
                display: block;
                color: #fff;
                text-shadow: 0 0 3px rgba(0,0,0,0.8);
                font-size: .75rem;
                a{
                    font-size: .75rem;
                    display: inline-block;
                }
            }
        }

        .account-cover-action{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 30px;
            text-align: right;

            ul{
                margin-bottom: 0;
                li{
                    color: #fff;
                    text-shadow: 0 0 3px rgba(0,0,0,0.8);
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
    }

    .account-cover-navbar {
        webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        margin-bottom: 1rem;
        border: 1px solid #eee;
        background: #fff;
    }
}