.card{
	margin-bottom: 1rem;
	border-color: #eee;

	.card-header{
		background-color: #fff;
		border-color: #eee;
	}

	.card-body{
		&.with-table{
			padding: 0;
			margin: -1px;

			.table{
				margin-bottom: 0;
			}
		}

		.media{
			h5, h4{
				font-size: 1rem;
				color: $gray-dark;

				a{
					font-size: 1rem;
					color: $gray-dark;
				}
			}

			h6{
				font-size: 0.9rem;
			}
		}
	}

	&.card-widget{
		position: relative;

		.card-body{
			border-radius: 0.25rem;
			padding-bottom: 0;
		}

		.icon {
			color: rgba(0, 0, 0, 0.1);
			position: absolute;
			right: 15px;
			top: 15px;
			z-index: 1;
			i {
				font-size: 40px;
				line-height: 0;
				margin: 0;
				padding: 0;
				vertical-align: bottom;
				&:before {
					margin: 0;
					padding: 0;
					line-height: 0;
				}
			}
		}
		.num {
			position: relative;
			color: #ffffff;
			z-index: 5;
			margin: 0;
			padding: 0;
			font-size: 1.4rem;
			font-weight: bold;
		}
		h3 {
			position: relative;
			color: #ffffff;
			z-index: 5;
			margin: 0;
			padding: 0;
			font-size: 0.9rem;
			font-weight: normal;
			margin-top: 5px;
		}
		table{
			width: 100%;
			margin-top: 15px;

			tr{
				td{
					border-bottom: 1px solid #fff;
					color: #fff;
					padding: 5px 0;
				}
			}
		}
		p {
			position: relative;
			color: #ffffff;
			z-index: 5;
			margin: 0;
			padding: 0;
			font-size: 11px;
			margin-top: 5px;
		}

		a.info{
			background: rgba(0, 0, 0, 0.1);
			color: #fff;
			padding: 8px;
			margin-top: 10px;
			display: block;
			margin-left: -20px;
			margin-right: -20px;
			text-align: center;
		}
	}

	.card-subtitle {
	    font-weight: 300;
	    margin-bottom: 15px;
	    color: $gray-light;
	}

	.card-attenders{
		.card-title{
			font-size: 1rem;
			margin-bottom: 0.2rem;
			margin-top: 0;
			a{
				font-size: 1rem;
				color: $gray-dark;
			}
		}

		.card-subtitle{
			margin-top: 0;
			text-transform: capitalize;
			font-weight: 400;
			font-size: 0.8rem;
			a{
				color: $gray-light;
			}
			span{
				margin-right: 10px;
			}
		}
	}

	.card-event, .card-news, .card-meeting{
		.date{
			position: relative;
			.daycell-wrap{
		    	height: 65px;
		    	line-height: 1;

		    	&.list{
		    		height: 80px;
		    		width: 90px;
					background: #ddd;
					padding: 0.5rem;
		    	}

			    .daycell-label {
				    padding: 0;
				    text-transform: uppercase;
				    width: 100%;
				    text-align: center;
				    margin-bottom: 0;
				}

				.daycell-num {
				    margin: 0;
				    padding: 0;
				    width: 100%;
				    text-align: center;
				    font-size: 30px;
				}

				.daycell-event-wrap {
				    width: 36px;
				    height: 5px;
				    position: absolute;
				    bottom: 10px;
				    left: calc(50% - 18px);
				    display: -webkit-box;
				    display: -webkit-flex;
				    display: flex;
				    -webkit-justify-content: space-between;
				    justify-content: space-between;
				    -webkit-box-align: center;
				    -webkit-flex-align: center;
				    -webkit-align-items: center;
				    align-items: center;

				    .daycell-event{
				    	width: 36px;
						height: 5px;
						border-radius: 3px;
						cursor: pointer;
						margin: 0 1px;
				    }
				}
			}
		}

		.card-title{
			font-size: 1rem;
			margin-bottom: 0.5rem;
			margin-top: 0.2rem;
			a{
				font-size: 1rem;
				color: $gray-dark;
			}
		}

		.card-subtitle{
			margin-top: 0;
			text-transform: capitalize;
			font-weight: 400;
			font-size: 0.9rem;
			a{
				color: $gray-light;
			}
			span{
				margin-right: 10px;
			}
		}
	}

	.card-speaker{
		.card-title{
			font-size: 1rem;
			margin-bottom: 0.25rem;
			margin-top: 0.5rem;
			a{
				font-size: 1rem;
				color: $gray-dark;
			}
		}

		.card-subtitle{
			margin-top: 0;
			text-transform: capitalize;
			font-weight: 400;
			font-size: 0.9rem;
			margin-bottom: 0.5rem;
			a{
				color: $gray-light;
			}
			span{
				margin-right: 10px;
			}
		}
		.card-speaker-avatar{
			max-height: 200px;
			overflow: hidden;
			img{
				width: 100%;
			}
		}

		.social{
			list-style: none;
			padding: 0;
			margin: 0;

			li{
				font-size: 1.25rem;
				margin-right: 1.25rem;
				display: inline-block;
				line-height: 2;

				&:last-child{
					margin-right: 0;
				}
			}
		}
	}

	.card-countdown{
		position: relative;

		.countdown{
			position: absolute;
			bottom: 10px;
			left: 15px;
			color: #FFF;
			text-rendering: optimizelegibility;
			text-shadow: 0 0 3px rgba(0,0,0,0.8);
			font-size: 1.2rem;
		}
	}

	.latest-news{
		.card-news{
			.card-title{
				font-size: 0.8rem !important;
				margin-bottom: 0.5rem;
				margin-top: 0.2rem;
				a{
					font-size: 0.8rem !important;
					color: $gray-dark;
				}
			}

			.card-subtitle{
				margin-top: 0;
				text-transform: capitalize;
				font-weight: 400;
				font-size: 0.7rem !important;
				a{
					color: $gray-light;
				}
				span{
					margin-right: 10px;
				}
			}
		}
	}

	.card-footer{
		background-color: #fff;
	}
}
