select.form-control:not([size]):not([multiple]){
    height: calc(2rem + 2px);
}

.has-success {
	.col-form-label {
		color: $brand-success;
	}
	.custom-control {
		color: $brand-success;
	}
	.form-check-label {
		color: $brand-success;
	}
	.form-control-feedback {
		color: $brand-success;
	}
	.form-control-label {
		color: $brand-success;
	}
	.form-control-success {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
	}
	.form-control {
		border-color: $brand-success;
	}
}

.has-warning {
	.col-form-label {
		color: $brand-warning;
	}
	.custom-control {
		color: $brand-warning;
	}
	.form-check-label {
		color: $brand-warning;
	}
	.form-control-feedback {
		color: $brand-warning;
	}
	.form-control-label {
		color: $brand-warning;
	}
	.form-control-warning {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E");
	}
	.form-control {
		border-color: $brand-warning;
	}
}

.has-danger {
	.col-form-label {
		color: $brand-danger;
	}
	.custom-control {
		color: $brand-danger;
	}
	.form-check-label {
		color: $brand-danger;
	}
	.form-control-feedback {
		color: $brand-danger;
	}
	.form-control-label {
		color: $brand-danger;
	}
	.form-control-danger {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
	}
	.form-control {
		border-color: $brand-danger;
	}
}

.form-control-danger, .form-control-success, .form-control-warning {
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right .5625rem;
    -webkit-background-size: 1.125rem 1.125rem;
    background-size: 1.125rem 1.125rem;
}

/*==============================================================
File upload
 ============================================================== */
.btn-file {
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	> input {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		font-size: 23px;
		height: 100%;
		width: 100%;
		direction: ltr;
		cursor: pointer;
		border-radius: 0px;
	}
}
.fileinput {
	.input-group-addon {
		border-right: 1px solid #ddd;
		.form-control {
			padding-top: 7px;
			padding-bottom: 5px;
			display: inline-block;
			margin-bottom: 0px;
			vertical-align: middle;
			cursor: text;

			i.fa{
				padding-right: 5px;
			}
		}
	}
}
.fileinput {
	.thumbnail {
		overflow: hidden;
		display: inline-block;
		margin-bottom: 5px;
		vertical-align: middle;
		text-align: center;
		>img {
			max-height: 100%;
		}
	}
	.btn {
		vertical-align: middle;
	}
}
.fileinput-exists {
	.fileinput-new {
		display: none;
	}
}
.fileinput-new {
	.fileinput-exists {
		display: none;
	}
}
.fileinput-inline {
	.fileinput-controls {
		display: inline;
	}
}
.fileinput-filename {
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
}
.form-control {
	.fileinput-filename {
		vertical-align: bottom;
	}
}
.fileinput.input-group {
	>* {
		position: relative;
		z-index: 2;
	}
	>.btn-file {
		z-index: 1;
	}
}

/*******************
Checkbox
*******************/

.checkbox {
    padding-left: 20px;
    label {
        display: block;
        padding-left: 5px;
        position: relative;
        padding-top: 1px;
        &::before {
            -o-transition: 0.3s ease-in-out;
            -webkit-transition: 0.3s ease-in-out;
            background-color: $white;
            border-radius: 1px;
            border: 1px solid #ddd;
            content: "";
            display: inline-block;
            height: 17px;
            left: 0;
            top:3px;
            margin-left: -20px;
            position: absolute;
            transition: 0.3s ease-in-out;
            width: 17px;
            outline: none;
        }
        &::after {
            color: $black;
            display: inline-block;
            font-size: 11px;
            height: 16px;
            left: 0;
            margin-left: -20px;
            padding-left: 3px;
            padding-top: 1px;
            position: absolute;
            top: 2px;
            width: 16px;
        }
    }
    input[type="checkbox"] {
        cursor: pointer;
        opacity: 0;
        z-index: 1;
        position: absolute;
        left: 0px;
        outline: none;
        &:disabled + label {
            opacity: 0.65;
        }
    }
    input[type="checkbox"]:focus + label {
        &::before {
            outline-offset: -2px;
            outline: none;

        }
    }
    input[type="checkbox"]:checked + label {
        &::after {
            content: "\f00c";
            font-family: 'FontAwesome';
        }
    }
    input[type="checkbox"]:disabled + label {
        &::before {
            background-color: $gray-light;
            cursor: not-allowed;
        }
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .checkbox {
        label {
            &::after {
                top: 3px;
            }
        }
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .checkbox {
        label {
            &::after {
                top: 3px;
            }
        }
    }
}

.checkbox.checkbox-circle {
    label {
        &::before {
            border-radius: 50%;
        }
    }
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox.checkbox-single {
    label {
        height: 17px;
    }
}

.checkbox-primary {
    input[type="checkbox"]:checked + label {
        &::before {
            background-color: $brand-primary;
            border-color: $brand-primary;
        }
        &::after {
            color: $white;
        }
    }
}

.checkbox-danger {
    input[type="checkbox"]:checked + label {
        &::before {
            background-color: $brand-danger;
            border-color: $brand-danger;
        }
        &::after {
            color: $white;
        }
    }
}

.checkbox-info {
    input[type="checkbox"]:checked + label {
        &::before {
            background-color: $brand-info;
            border-color: $brand-info;
        }
        &::after {
            color: $white;
        }
    }
}

.checkbox-warning {
    input[type="checkbox"]:checked + label {
        &::before {
            background-color: $brand-warning;
            border-color: $brand-warning;
        }
        &::after {
            color: $white;
        }
    }
}

.checkbox-success {
    input[type="checkbox"]:checked + label {
        &::before {
            background-color: $brand-success;
            border-color: $brand-success;
        }
        &::after {
            color: $white;
        }
    }
}

.checkbox-purple {
    input[type="checkbox"]:checked + label {
        &::before {
            background-color: purple;
            border-color: purple;
        }
        &::after {
            color: $white;
        }
    }
}

.checkbox-red {
    input[type="checkbox"]:checked + label {
        &::before {
            background-color: $brand-danger;
            border-color: $brand-danger;
        }
        &::after {
            color: $white;
        }
    }
}

.checkbox-inverse {
    input[type="checkbox"]:checked + label {
        &::before {
            background-color: $gray;
            border-color: $gray;
        }
        &::after {
            color: $white;
        }
    }
}

.custom-control {
  min-height: 1rem;
  padding-top: 0.1rem;
}


/*******************
Radios
*******************/

.radio {
    padding-left: 20px;
    label {
        display: inline-block;
        padding-left: 5px;
        position: relative;
        &::before {
            -o-transition: border 0.5s ease-in-out;
            -webkit-transition: border 0.5s ease-in-out;
            background-color: $white;
            border-radius: 50%;
            border: 1px solid #ddd;
            content: "";
            display: inline-block;
            height: 17px;
            left: 0;
            margin-left: -20px;
            outline: none;
            position: absolute;
            transition: border 0.5s ease-in-out;
            width: 17px;
            outline: none;
        }
        &::after {
            -moz-transition: -moz-transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            -ms-transform: scale(0, 0);
            -o-transform: scale(0, 0);
            -o-transition: -o-transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            -webkit-transform: scale(0, 0);
            -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            background-color: $black;
            border-radius: 50%;
            content: " ";
            display: inline-block;
            height: 7px;
            left: 5px;
            margin-left: -20px;
            position: absolute;
            top: 5px;
            transform: scale(0, 0);
            transition: transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            width: 7px;
        }
    }
    input[type="radio"] {
        cursor: pointer;
        opacity: 0;
        z-index: 1;
        outline: none;
        &:disabled + label {
            opacity: 0.65;
        }
    }
    input[type="radio"]:focus + label {
        &::before {
            outline-offset: -2px;
            outline: none;

        }
    }
    input[type="radio"]:checked + label {
        &::after {
            -ms-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
    }
    input[type="radio"]:disabled + label {
        &::before {
            cursor: not-allowed;
        }
    }
}

.radio.radio-inline {
    margin-top: 0;
}

.radio.radio-single {
    label {
        height: 17px;
    }
}

.radio-primary {
    input[type="radio"] + label {
        &::after {
            background-color: $brand-primary;
        }
    }
    input[type="radio"]:checked + label {
        &::before {
            border-color: $brand-primary;
        }
        &::after {
            background-color: $brand-primary;
        }
    }
}

.radio-danger {
    input[type="radio"] + label {
        &::after {
            background-color: $brand-danger;
        }
    }
    input[type="radio"]:checked + label {
        &::before {
            border-color: $brand-danger;
        }
        &::after {
            background-color: $brand-danger;
        }
    }
}

.radio-info {
    input[type="radio"] + label {
        &::after {
            background-color: $brand-info;
        }
    }
    input[type="radio"]:checked + label {
        &::before {
            border-color: $brand-info;
        }
        &::after {
            background-color: $brand-info;
        }
    }
}

.radio-warning {
    input[type="radio"] + label {
        &::after {
            background-color: $brand-warning;
        }
    }
    input[type="radio"]:checked + label {
        &::before {
            border-color: $brand-warning;
        }
        &::after {
            background-color: $brand-warning;
        }
    }
}

.radio-success {
    input[type="radio"] + label {
        &::after {
            background-color: $brand-success;
        }
    }
    input[type="radio"]:checked + label {
        &::before {
            border-color: $brand-success;
        }
        &::after {
            background-color: $brand-success;
        }
    }
}

.radio-purple {
    input[type="radio"] + label {
        &::after {
            background-color: purple;
        }
    }
    input[type="radio"]:checked + label {
        &::before {
            border-color: purple;
        }
        &::after {
            background-color: purple;
        }
    }
}

.radio-red {
    input[type="radio"] + label {
        &::after {
            background-color: $brand-danger;
        }
    }
    input[type="radio"]:checked + label {
        &::before {
            border-color: $brand-danger;
        }
        &::after {
            background-color: $brand-danger;
        }
    }
}

.checkbox label, .radio label {
    cursor:pointer;
}

/*******************
Form Pickers
******************/
.asColorPicker-dropdown {
    max-width: 260px;
}
.asColorPicker-trigger {
    position: absolute;
    top: 0;
    right: -35px;
    height: 32px;
    width: 37px;
    border: 0;
}
.asColorPicker-clear {
    display: none;
    position: absolute;
    top: 5px;
    right: 10px;
    text-decoration: none;
}

.input-group{
    .pagination{
        margin-bottom: 0;
        margin-left: -1px;

        li{
            a{
                height: 34px;
                line-height: 1.3;
            }

            &:first-child{
                a{
                    border-radius: 0;
                    border-left-color: transparent;
                }
            }
        }
    }
}

.switchery{
    border-radius: 3px;
    height: 20px;

    > small{
        border-radius: 3px;
        height: 20px;
    }

    &.switchery-small{
        height: 15px;
        border-radius: 3px;

        > small{
            height: 15px;
        }
    }

    &.switchery-large{
        border-radius: 3px;
        height: 30px;

        > small{
            height: 30px;
        }
    }
}

.bootstrap-tagsinput{
    .tag{
        &.label{
            background-color: #e4e4e4;
            border: 1px solid #aaa;
            border-radius: 4px;
            padding: 2px 5px;
            color: $gray-dark;
        }
    }
}

.form-check-column-4{
    -webkit-column-count: 4;
    -webkit-column-gap:15px;
    -moz-column-count:4;
    -moz-column-gap:15px;
    -o-column-count:4;
    -o-column-gap:15px;
    column-count:4;
    column-gap:15px;
    list-style: none;
    padding-left: 0;
}

.form-check-column-3{
    -webkit-column-count: 3;
    -webkit-column-gap:15px;
    -moz-column-count:3;
    -moz-column-gap:15px;
    -o-column-count:3;
    -o-column-gap:15px;
    column-count:3;
    column-gap:15px;
    list-style: none;
    padding-left: 0;
}

.form-check-column-2{
    -webkit-column-count: 2;
    -webkit-column-gap:15px;
    -moz-column-count:2;
    -moz-column-gap:15px;
    -o-column-count:2;
    -o-column-gap:15px;
    column-count:2;
    column-gap:15px;
    list-style: none;
    padding-left: 0;
}

.upload{

    .progress, .filename{
        margin-bottom: 0.5rem;
    }
    .progress-bar{
        height: 0.3rem;
    }
}

.upload-multiple{
    cursor: pointer;
    padding: 0.5rem;
    border: 1px solid #ddd;
    min-height: 100px;
    position: relative;

    .progress-bar{
        height: 0.3rem;
    }

    &.file{
        &:before{
            position: absolute;
            content: "Browse or Drag Files";
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            margin: 0 auto;
            font-size: 2rem;
            color: #ddd;
            text-align: center;
        }
    }

    &.image{
        &:before{
            position: absolute;
            content: "Browse or Drag Images";
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            margin: 0 auto;
            font-size: 2rem;
            color: #ddd;
            text-align: center;
        }
    }

    table{
        position: relative;
        z-index: 2;
        background: #fff;
        margin-bottom: 0;
    }
}

.checkbox-tree{
    list-style: none;
    padding-left: 0;

    li{
        padding-left: 0.7rem;
        position: relative;

        span.expanded{
            display: inline-block;
            margin-right: 0.5rem;
            cursor: pointer;
            &:before{
                font-family: 'FontAwesome';
                content: "\f147";
                font-size: 1rem;
                vertical-align: middle;
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        span.collapsed{
            display: inline-block;
            margin-right: 0.5rem;
            cursor: pointer;
            &:before{
                font-family: 'FontAwesome';
                content: "\f196";
                font-size: 1rem;
                vertical-align: middle;
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        .checkbox{
            display: inline-block;
        }

        ul{
            padding-left: 1rem;

            li{
                list-style: none;
                position: relative;

                ul{
                    padding-left: 1rem;
                }
            }

        }
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .btn:not(.btn-xs):not(.btn-sm):not(.btn-lg):not(.btn-xl){
        padding: 0.54rem 0.75rem;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .btn:not(.btn-xs):not(.btn-sm):not(.btn-lg):not(.btn-xl){
        padding: 0.54rem 0.75rem;
    }
}