html{
    min-height: 100%;
}
body {
    font-size: 0.8rem;
    font-family: "Maven Pro", Arial, sans-serif;
    background: darken($white, 1%);
    min-height: 100%;
    position: relative;
}
button, input, optgroup, select, textarea {
    font-family: "Maven Pro", Arial, sans-serif;
}

a {
    text-decoration: none !important;
    &:hover, &:active, &:visited {
        text-decoration: none !important;
        box-shadow: none;
    }

    &:focus{
        outline: 0 !important;
        box-shadow: none;
    }
}

.btn{
    &.focus, &:focus{
        box-shadow: none;
    }
}

.pace {
    .pace-progress {
        background: $primary-color;
    }
    .pace-progress-inner {
        box-shadow: 0 0 10px $primary-color, 0 0 5px $primary-color;
    }
    .pace-activity {
        border-top-color: $primary-color;
        border-left-color: $primary-color;
    }
}

.progress-bar{
    background-color: $primary-color;
}

.p-relative{
    position: relative;
    z-index: 5
}

.hidden{
    display: none;
}
.main {
    padding-bottom: 20px;
}

.page-wrapper{
    margin: -20px;
}

.breadcrumb-container {
    width: 100%;
    background: $white;
    border-bottom: 1px solid #eee;

    .container-fluid{
        padding: 0.5rem 20px;
    }

    .breadcrumb{
        background: #fff;
        margin-bottom: 0px;
        padding: 5px 0;

        a{
            color: #868e96;
        }
    }
}
.module-container {
    margin-bottom: 0px;
    background-color: $white;
    border-bottom: 1px solid #eee;

    .container-fluid{
        padding: 0.5rem 20px;
    }

    .media{
        .module-icon{
            width: auto;
            height: 32px;
            overflow: hidden;
            padding: 0;

            i{
                font-size: 2rem;
            }

            img{
                width: auto;
                height: 32px;
            }
        }

        .media-heading{
            margin-bottom: 0;
            font-size: 16px;
        }

        p{
            margin-bottom: 0;
        }
    }

    .module-version{
        text-align: right;
        h4{
            font-size: 16px;
            margin: 0;

            span{
                font-size: 12px;
            }
        }

        p{
            margin: 0;
            font-style: italic;
        }
    }
}
.container-fluid {
    padding: 20px;
}
.btn-circle {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.img-circle {
    border-radius: 100%;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

/* .form-control{
    min-height: 38px;
} */

.label{
    background: $primary-color;
    padding: 0 10px;
    border-radius: 3px;
}

.page-navbar {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    margin-bottom: 1rem;
    border: 1px solid $gray-lighter;

    .navbar-nav{
        .nav-item{
            position: relative;
            &.active{
                &:after{
                    content: "";
                    position: absolute;
                    bottom: -0.5rem;
                    left: 0;
                    height: 4px;
                    width: 100%;
                    background-color: $primary-color;
                }
            }
        }
    }
}

.pagination{
    .page-item{
        .page-link{
            color: $primary-color;

            &:focus{
                box-shadow: none;
            }
        }

        &.active{
            .page-link{
                background-color: $primary-color;
                border-color: $primary-color;
                color: $white;
            }
        }
    }
}

.custom-dropdown-toggle{
    &:after{
        content: "\f141";
        font-family: "Font Awesome\ 5 Free";
        font-weight: 900;
        border: none;
        font-size: 1.5rem;
        width: auto;
        height: auto;
        @include transition(all 0.1s ease-in-out);
        color: $sidebar-icons; 
    }

    &[aria-expanded="true"]{
        &:after{
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }
}

.dropdown-item{
    font-size: 0.8rem !important;
    i{
        width: 15px;
    }
    &:hover, &.active, &:active {
        background-color: $primary-color;
        color: #fff !important;

        .text-muted{
            color: $white !important;
        }
    }
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2rem + 1.2px);
}

@media(min-width:1024px) {
   .main{
        margin-left:240px;
    }
}

@media(max-width:1023px) {
   .main{
        transition: 0.2s ease-in; 
    }
}

@media(max-width:990px){
    .page-navbar {

        .navbar-nav{
            .nav-item{
                &.active{
                    &:after{
                        bottom: 2px;
                        height: 2px;
                    }
                }
            }
        }
    }
}

@media(max-width:767px) {
    .mini-sidebar .main{
        margin-left:0px;
        padding-top: 70px;
    }
}