html{
    min-height: 100%;
}
body {
    font-size: 0.8rem;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    background: #F2F4F8;
    min-height: 100%;
    position: relative;
}
button, input, optgroup, select, textarea {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

a {
    text-decoration: none !important;
    outline: 0 !important;
    &:hover, &:active, &:visited, &:focus {
        text-decoration: none !important;
        outline: 0 !important;
    }
}

.p-relative{
    position: relative;
    z-index: 5
}

.hidden{
    display: none;
}
.main {
    padding-bottom: 20px;
}

.page-wrapper{
    margin: -20px;
}

.breadcrumb-container {
    width: 100%;
    background: $white;
    border-bottom: 1px solid #eee;

    .container-fluid{
        padding: 0.5rem 20px;
    }

    .breadcrumb{
        background: #fff;
        margin-bottom: 0px;
        padding: 5px 0;

        a{
            color: #868e96;
        }
    }
}
.module-container {
    margin-bottom: 0px;
    background-color: $white;
    border-bottom: 1px solid #eee;

    .container-fluid{
        padding: 0.5rem 20px;
    }

    .media{
        .module-icon{
            width: auto;
            height: 32px;
            overflow: hidden;
            padding: 0;

            i{
                font-size: 2rem;
            }

            img{
                width: auto;
                height: 32px;
            }
        }

        .media-heading{
            margin-bottom: 0;
            font-size: 16px;
        }

        p{
            margin-bottom: 0;
        }
    }

    .module-version{
        text-align: right;
        h4{
            font-size: 16px;
            margin: 0;

            span{
                font-size: 12px;
            }
        }

        p{
            margin: 0;
            font-style: italic;
        }
    }
}
.container-fluid {
    padding: 20px;
}
.btn-circle {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.img-circle {
    border-radius: 100%;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

/* .form-control{
    min-height: 38px;
} */

.label{
    background: $primary-color;
    padding: 0 10px;
    border-radius: 3px;
}

.account-cover-navbar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 1rem;

    .navbar-nav{
        .nav-item{
            position: relative;
            &.active{
                &:after{
                    content: "";
                    position: absolute;
                    bottom: -0.5rem;
                    left: 0;
                    height: 4px;
                    width: 100%;
                    background-color: $primary-color;
                }
            }
        }
    }
}

.pagination{
    .page-item{
        .page-link{
            color: $primary-color;
        }

        &.active{
            .page-link{
                background-color: $primary-color;
                border-color: $primary-color;
                color: $white;
            }
        }
    }
}

.remove-caret{
    &:after{
        display: none;
    }
}

@media(min-width:1024px) {
   .main{
        margin-left:240px;
    }
}

@media(max-width:1023px) {
   .main{
        margin-left:60px;
        transition: 0.2s ease-in;
    }
}

@media(min-width:768px) {
    .mini-sidebar {
        .main{
            margin-left:60px;
        }
    }
}

@media(max-width:767px) {
    .mini-sidebar .main{
        margin-left:0px;
        padding-top: 70px;
    }
}