@-moz-keyframes "heartbit" {
    0% {
        -moz-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -moz-transform: scale(0.1);
        opacity: 0.1;
    }
    50% {
        -moz-transform: scale(0.5);
        opacity: 0.3;
    }
    75% {
        -moz-transform: scale(0.8);
        opacity: 0.5;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0.0;
    }
}
@-webkit-keyframes "heartbit" {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -webkit-transform: scale(0.1);
        opacity: 0.1;
    }
    50% {
        -webkit-transform: scale(0.5);
        opacity: 0.3;
    }
    75% {
        -webkit-transform: scale(0.8);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}
.notify {
    position: relative;
    top: -9px;
    right: -10px;
    .heartbit {
        position: absolute;
        top: -20px;
        right: 0px;
        height: 20px;
        width: 20px;
        z-index: 10;
        border: 5px solid $brand-primary;
        border-radius: 50%;
        -moz-animation: heartbit 1s ease-out;
        -moz-animation-iteration-count: infinite;
        -o-animation: heartbit 1s ease-out;
        -o-animation-iteration-count: infinite;
        -webkit-animation: heartbit 1s ease-out;
            animation-iteration-count: 1;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }
    .point {
        width: 10px;
        height: 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 50%;
        background-color: $brand-primary;
        position: absolute;
        top: -15px;
        font-size: 9px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        padding: 0px 5px;
    }
}
.header {
    position: relative;
    z-index: 50;
    background: #fff;
    border-bottom: 1px solid $gray-lighter;

    .top-navbar {
        min-height: 55px;
        /* padding: 0px 15px 0 0; */
        .dropdown-toggle {
            &::after {
                display: none;
            }
        }
        .navbar-brand{
            img{
                height: 35px;
            }
        }
        .navbar-nav {
            >.nav-item {
                >.nav-link {
                    padding-left: .75rem;
                    padding-right: .75rem;
                    font-size: 1rem;
                    padding: 0.35rem 1rem;
                    /* line-height: 50px; */
                }
            }
            >.nav-item.show {
            }
        }
        .app-search {
            position: relative;
            margin-right: 10px;
            display: inline-block;
            input {
                width: 200px;
                font-size: 14px;
                transition: 0.5s ease-in;
                &:focus {
                    width: 240px;
                }
            }
            .srh-btn {
                position: absolute;
                top: 8px;
                cursor: pointer;
                background: #fff;
                width: 15px;
                height: 15px;
                right: 10px;
                font-size: 14px;
            }
        }
        .mailbox {
            width: 300px;
            ul {
                padding: 0px;
                li {
                    list-style: none;
                }
            }
        }
    }
    .profile-pic {
        width: 30px;
        border-radius: 100%;
        border: 3px solid #ccc;
    }
    .dropdown-menu {
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
        border-color: rgba(120, 130, 140, 0.13);
        .dropdown-item {
            padding: 7px 1.5rem;
        }
    }
    ul.dropdown-account {
        padding: 0px;
        width: 270px;
        li {
            list-style: none;
            padding: 0px;
            margin: 0px;
            border-bottom: 1px solid $gray-lighter;
            &:last-child {
                border-bottom: none;
            }
            .account-cover{
                width: 100%;
                height: 80px;
                overflow: hidden;
                position: relative;
                background-repeat: no-repeat;
                -webkit-background-size: cover !important;
                -moz-background-size: cover !important;
                -o-background-size: cover !important;
                background-size: cover !important;
                background-position: center center !important;

                .account-cover-avatar{
                    a{
                        padding: 0;
                    }
                    @include avatar(50px);
                    position: absolute;
                    bottom: 15px;
                    left: 20px;
                    border: 3px solid #ccc;
                    border-radius: 3px;
                    background-color: #fff;
                    border-radius: 50%;
                }

                .account-cover-name{
                    position: absolute;
                    bottom: 23px;
                    left: 85px;
                    max-width: 150px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;

                    a{
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 18px;
                        position: relative;
                        color: $white;
                        text-rendering: optimizelegibility;
                        padding-right: 30px;
                        display: block;
                        padding: 0;
                    }

                    small{
                        a{
                            font-size: 11px;
                        }
                    }
                }

                .account-cover-action{
                    position: absolute;
                    bottom: 15px;
                    left: 90px;
                }
            }
            a {
                padding: 7px 15px;
                display: block;
                color: $gray;
                &:hover {
                    /* background: #f2f4f8; */
                    color: $primary-color;
                    text-decoration: none;
                }
            }
        }
        li.divider {
            height: 1px;
            margin: 9px 0;
            overflow: hidden;
            background-color: rgba(120, 130, 140, 0.13);
        }
    }
}
.mini-sidebar {
    .top-navbar {
        .navbar-header {
            /* width: 60px;
            text-align: center; */
        }
    }
}
.logo-center {
    .top-navbar {
        .navbar-header {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            margin: 0 auto;
        }
    }
}

.mailbox {
    ul {
        li {
            .drop-title {
                font-weight: 500;
                padding: 11px 20px 15px;
                border-bottom: 1px solid rgba(120, 130, 140, 0.13);
                position: relative;

                .badge{
                    position: absolute;
                    top: 45%;
                    right: 20px;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
            .nav-link {
                border-top: 1px solid rgba(120, 130, 140, 0.13);
                padding-top: 15px;
            }
        }
    }
    .message-center {
        height: 200px;
        overflow: auto;
        position: relative;
        a {
            border-bottom: 1px solid rgba(120, 130, 140, 0.13);
            display: block;
            text-decoration: none;
            padding: 9px 15px;
            &:hover {
                background: #f2f4f8;
            }
            .btn{
                margin: 0 10px 15px 0;
            }
            div {
                white-space: normal;
            }
            .user-img {
                width: 40px;
                height: 40px;
                position: relative;
                display: inline-block;
                margin: 0 10px 15px 0;
                img {
                    width: 100%;
                    vertical-align: bottom;;
                }
                .profile-status {
                    border: 2px solid #fff;
                    border-radius: 50%;
                    display: inline-block;
                    height: 10px;
                    left: 30px;
                    position: absolute;
                    top: 1px;
                    width: 10px;
                }
                .online {
                    background: $brand-success;
                }
                .busy {
                    background: $brand-danger;
                }
                .away {
                    background: $brand-warning;
                }
                .offline {
                    background: $brand-warning;
                }
            }
            .mail-content {
                display: inline-block;
                width: 75%;
                vertical-align: top;
                h5 {
                    margin: 0;
                    font-size: 14px;
                    color: $gray-dark;
                }
                .mail-desc {
                    font-size: 12px;
                    display: block;
                    margin: 1px 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    color: $gray;
                    white-space: nowrap;
                }
                .time {
                    font-size: 12px;
                    display: block;
                    margin: 1px 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    color: $gray;
                    white-space: nowrap;
                }
            }
        }
    }
}

.navbar-brand{
    .badge{
        font-size: 12px;
        font-weight: 500;
        vertical-align: middle;
        display: inline-block !important;
    }
}

@media (min-width: 768px) {
    .navbar-header {
        /* width: 240px;
        flex-shrink: 0;
        .navbar-brand {
            padding-top: 0px;
        } */
    }
}

@media (max-width: 768px) {
    .header {
        position: fixed;
        width: 100%;
        .top-navbar {
            padding-right: 15px;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-direction: row;
            flex-wrap: nowrap;
            -webkit-align-items: center;
            .navbar-collapse {
                display: flex;
                width: 100%;
            }
            .navbar-nav {
                flex-direction: row;
                >.nav-item.show {
                    position: static;
                    .dropdown-menu {
                        width: 100%;
                        margin-top: 0px;
                    }
                }
                >.nav-item {
                    >.nav-link {
                        padding-left: .50rem;
                        padding-right: .50rem;
                    }
                }
                .dropdown-menu {
                    position: absolute;
                }
            }
        }
    }
}

@media(min-width:991px) {
    .navbar-brand{
        width: 225px;
        border-right: 1px solid #ededed;
    }
}