.post-editor{
	.editor-title{
		border: none;
		background-color: transparent;
		font-size: 3rem;
		color: $gray-dark;

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: #ddd;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			color: #ddd;
		}
		&:-ms-input-placeholder { /* IE 10+ */
			color: #ddd;
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: #ddd;
		}
	}

	.editor-slug{
		.input-group-text, .form-control{
			border: none;
			background-color: transparent;
		}
	}

	.mce-panel{
		border: none !important;
		background-color: transparent;
	}

	.mce-top-part::before{
		box-shadow: none;
	}

	div.mce-toolbar-grp, .mce-inline-toolbar-grp div.mce-toolbar-grp {
	    background-color: transparent;
	    border-color: #eee !important;
	    border-style: solid;
	    border-left-width: 1px;
	    border-right-width: 1px;
	    padding: 0;
	    overflow-x: auto;
	    margin: 0 auto;
	    border-bottom: 1px solid #eee !important;
	}

	.mce-btn-group:not(:first-child){
		border-left-color: #eee;
	}

	.mce-statusbar .mce-container-body{
		background-color: #d9e3ea;
	}

	div.mce-edit-area {
    	background: none;
    }

	.mce-btn{
		background-color: transparent;
	}

	.mce-content-body {
		background-color: transparent !important;
		outline: none !important;
	}
}

.post-list{
	.card-title{
		font-size: 1rem;
		
		a{
			font-size: 1.2rem;
			color: $gray-dark;
		}
	}

	.card-subtitle{
		margin-top: 0;
		text-transform: capitalize;
		font-weight: 400;
		font-size: 0.8rem;
		a{
			color: $gray-light;
		}
		span{
			margin-right: 10px;
		}
	}

	p{
		margin-bottom: 0;
	}

	.post-meta {
		margin: 0;
		line-height: 1.8;
		padding: 0;
		li {
			display: inline-block;
			margin-right: 10px;
			text-transform: capitalize;
			font-size: 0.8rem;
			color: $gray-light;
			&:last-child {
				margin: 0;
			}
			i {
				margin-right: 5px;
				font-size: 0.8rem;
			}
		}
	}

	.card-footer{
		padding: 0;

		.nav-pills{
			.nav-item{
				border-right: 1px solid #ddd;
				.nav-link{
					border-radius: 0;
					color: $gray-dark;

					&:hover, &.active{
						background-color: $gray-lighter;
					}
				}

				&:last-child{
					border-right: none;
				}
			}
		}
	}
}