/*******************
Main sidebar
******************/

.sidebar {
    position: absolute;
    width: 240px;
    height: 100%;
    top: 0px;
    z-index: 20;
    padding-top: 62px;
    background: $sidebar;
    border-right: 1px solid $gray-lighter;

    .account-cover{
        width: 100%;
        height: 130px;
        overflow: hidden;
        position: relative;
        background-repeat: no-repeat;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
        background-position: center center !important;

        .account-cover-avatar{
            @include avatar(50px);
            position: absolute;
            bottom: 15px;
            left: 20px;
            border: 3px solid $white;
            border-radius: 3px;
            box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
            background-color: #fff;
            border-radius: 50%;
        }

        .account-cover-name{
            position: absolute;
            bottom: 23px;
            left: 85px;
            max-width: 150px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            a{
                font-size: 14px;
                font-weight: 500;
                line-height: 18px;
                position: relative;
                color: $white;
                text-rendering: optimizelegibility;
                text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
                padding-right: 30px;
                display: block;
            }

            small{
                a{
                    font-size: 11px;
                }
            }
        }

        .account-cover-action{
            position: absolute;
            bottom: 15px;
            left: 90px;
        }
    }
}

.fix-sidebar .sidebar{
    position: fixed;
}
/*******************
use profile section
******************/

.sidebar-customizer{
    padding-top: 0;
    .top-navbar {
        .dropdown-toggle {
            &::after {
                display: none;
            }
        }
        .navbar-brand{
            width: 100%;
            border: 0;
            margin-right: 0;
            padding: 0;
            img{
                height: 35px;
            }
        }
        .navbar-nav {
            >.nav-item {
                >.nav-link {
                    padding-left: .75rem;
                    padding-right: .75rem;
                    font-size: 1rem;
                    padding: 0.35rem 1rem;
                    /* line-height: 50px; */
                }
            }
            >.nav-item.show {
            }
        }
    }

    .radio-choose-scheme {
        display: inline-block;
        margin-right: 10px;
        width: 27%;

        label {
            border: 1px solid #ccc;
            border-radius: 3px;
            background: #fff;
            padding: 0;
            width: 100%;
            margin-bottom: 10px;
            @include transition(all 0.4s ease-in-out);
            display: inline-block;

            img{
                width: 100%;
            }
        }

        input[type="radio"] {
            display: none !important;
            + {
                label {
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    background: #fff;
                    cursor: pointer;
                    width: 100%;
                    margin-bottom: 10px;
                    @include transition(all 0.4s ease-in-out);
                    display: inline-block;

                    img{
                        width: 100%;
                    }
                }
            }
            &:hover {
                + {
                    label {
                        border: 1px solid $primary-color;
                    }
                }
            }
            &:checked {
                + {
                    label {
                        border: 1px solid $primary-color;

                        &:after{
                            background: none;
                        }
                    }
                }
            }
            &:disabled{
                + {
                    label {
                        border: 1px solid #ccc;
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
}


/*******************
sidebar footer
******************/

.sidebar-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    transition:0.2s ease-out;
    width: 240px;
    background: $sidebar;
    border-top: 1px solid $border;

    .top-navbar {
        margin-bottom: 0;
        .dropdown-toggle {
            &::after {
                display: none;
            }
        }
        .navbar-brand{
            width: 100%;
            border: 0;
            margin-right: 0;
            padding: 0;
            img{
                height: 35px;
            }
        }
        .navbar-nav {
            >.nav-item {
                >.nav-link {
                    padding-left: .75rem;
                    padding-right: .75rem;
                    font-size: 1rem;
                    padding: 0.35rem 1rem;
                    /* line-height: 50px; */
                }
            }
            >.nav-item.show {
            }
        }
    }
}


/*******************
sidebar navigation
******************/

.sidebar-scroll {
    padding-bottom: 60px;
    padding-top: 0px;
}

.collapse.in {
    display: block;
}

.sidebar-nav {
    background: $sidebar;
    ul {
        margin: 0px;
        padding: 0px;
        li {
            list-style: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-shrink: 0;
            position: relative;
            a {
                color: $gray-dark;
                padding: 13px 35px 13px 15px;
                display: block;
                font-size: 0.8rem;
                white-space: nowrap;
                &.active, &:hover {
                    background-color: transparent;
                }

                &:hover{
                    color: $gray-dark;
                }

                &:first-child{
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 auto;
                    flex: 1 0 auto;
                    width: 0;
                }

                &.sidebar-button{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    position: relative;
                    -ms-flex-item-align: center;
                    align-self: center;
                    box-sizing: border-box;
                    overflow: visible;
                    padding: 2px 8px 3px 8px;
                    height: 24px;
                    margin-right: 15px;
                    line-height: 18px;
                    background-color: $gray-lighter;
                    color: $sidebar-icons;
                    font-size: 12px;
                    border-radius: 3px;
                    border: 1px solid darken($gray-lighter, 5%);
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-tap-highlight-color: rgba(46,68,83,0.2);
                }
            }

            &:hover{
                background-color: darken($sidebar, 5%);
            }

            &.active{
                background-color: $primary-color;
                a{
                    background-color: transparent;
                    color: $white;

                    i{
                        color: $white;
                    }

                    &.sidebar-button{
                        background-color: #f3f6f8;
                        color: $primary-color;
                    }
                }

                ul{
                    li{
                        a{
                            background-color: transparent;
                        }

                        &:hover, &.active{
                            background-color: $primary-color;
                            a{
                                background-color: transparent;
                                color: $white;

                                i{
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
            ul {
                background: none;
                li {
                    a {
                        padding: 10px 35px 10px 40px;
                        i {
                            width: 25px;
                            color: $sidebar-icons;
                        }
                    }
                    ul {
                        li {
                            a {
                                padding: 10px 35px 10px 68px;
                            }
                        }
                    }
                }
            }
            &.nav-small-cap {
                font-size: 0.7rem;
                padding: 15px 14px 10px 20px;
                color: $gray;
                font-weight: 500;

                &:hover{
                    background-color: transparent;
                }
            }
            &.nav-devider{
                height: 1px;
                background: $border;
                display: block;
                margin: 20px 0;
            }
        }
    }
    > ul > li {
        &.active > a {
            color: $white;
            i {
                color: $white;
            }
        }
    }
    > ul > li > a {
        i {
            width: 25px;
            font-size: 1rem;
            display: inline-block;
            color: $sidebar-icons;
        }
        img{
            display: inline-block;
            height: 20px;
        }
        .label {
            float: right;
            margin-top: 6px;
        }
    }
}

.sidebar-nav .has-arrow {
    position: relative;
    &::after {
        position: absolute;
        content: '';
        width: .4em;
        height: .4em;
        border-width: 1px 0 0 1px;
        border-style: solid;
        border-color: $sidebar-icons;
        right: 1em;
        -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%);
        -o-transform: rotate(-45deg) translate(0, -50%);
        transform: rotate(-45deg) translate(0, -50%);
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
        top: 50%;
        -webkit-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
}

.sidebar-nav .active > .has-arrow::after,
.sidebar-nav li > .has-arrow.active::after,
.sidebar-nav .has-arrow[aria-expanded="true"]::after {
    -webkit-transform: rotate(-135deg) translate(0, -50%);
    -ms-transform: rotate(-135deg) translate(0, -50%);
    -o-transform: rotate(-135deg) translate(0, -50%);
    transform: rotate(-135deg) translate(0, -50%);
    border-color: $white;
}


.right-sidebar{
    position: fixed;
    right: -270px;
    width: 270px;
    z-index: 40;
    background: $sidebar;
    padding-bottom: 20px;
    height: 100%;
    border-left: 1px solid $gray-lighter;
    transition: all 0.3s ease;
    top: 60px;
    overflow-y: auto !important;

    .top-title{
        position: relative;
        padding: 15px;
        background: $sidebar;
        z-index: 40;

        h6{
            margin: 0;
            color: $gray-dark;
            font-size: 0.9rem;
        }

        a{
            color: $gray-dark;
            font-size: 0.9rem;
            position: absolute;
            right: 5%;
            top: 25%;
        }
    }

    .card{
        margin-bottom: 0;
        box-shadow: 0 -1px 0 #dce5ec,0 1px 0 #dce5ec;
        margin-top: 1px;
        position: relative;
        border-radius: 0;
        border: none;

        .card-header{
            border: none;
            cursor: pointer;
            border-radius: 0;
            position: relative;

            h5{
                font-size: 0.8rem;
                a{
                    color: $gray-dark;
                }
            }

            &[aria-expanded="false"]{
                &:after {
                    font-family: 'Font Awesome\ 5 Free';
                    content: "\f0d7";
                    position: absolute;
                    right: 5%;
                    top: 25%;
                    font-weight: 900;
                }
            }

            &[aria-expanded="true"]{
                &:after {
                    font-family: 'Font Awesome\ 5 Free';
                    content: "\f0d8";
                    position: absolute;
                    right: 5%;
                    top: 25%;
                    font-weight: 900;
                }

                &:hover{
                    background-color: transparent;
                    h5{
                        a{
                            color: $primary-color;
                        }
                    }
                }
            }

            &:hover{
                h5{
                    a{
                        color: $primary-color;
                    }
                }
            }
        }

        .card-body{
            padding: 0.5rem 1rem;
        }

    }

    .dropzone{
        border: 1px solid $sidebar;
    }
}

.show-rightside {
    right: 0px;
    width: 270px;
    display: block;
}

.editor-sidebar-toggle{
    position: absolute;
    width: 54px;
    height: 50px;
    top: 20%;
    right: 0px; 
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    background-color: $white;
    color: $gray-dark;
    font-size: 1.5rem;
    border: solid $gray-lighter;
    border-width: 1px 0px 1px 1px;
}

.editor-sidebar-showing{
    .right-sidebar{
        right: 0px;
        width: 270px;
        display: block;
    }
}

/****************
When click on sidebar toggler and also for tablet
*****************/

@media(min-width:1024px) {
    .editor-sidebar-showing{
        .main{
            margin-right: 270px;
        }
    }
}

@media(max-width:1023px) {
    .sidebar-footer{
        .top-navbar {
            padding-right: 15px;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-direction: row;
            flex-wrap: nowrap;
            -webkit-align-items: center;
            .navbar-collapse {
                display: flex;
                width: 100%; 
            }
            .navbar-nav {
                flex-direction: row;
                >.nav-item.show {
                    position: static;
                    .dropdown-menu {
                        width: 100%;
                        margin-top: 0px;
                    }
                }
                >.nav-item {
                    >.nav-link {
                        padding-left: .50rem;
                        padding-right: .50rem;
                    }
                }
                .dropdown-menu {
                    position: absolute;
                }
            }
        }
    }
    .mini-sidebar{
        .sidebar{
            position: fixed;
        }
        .sidebar, .sidebar-footer{
            left:-240px;
        }
        .account-cover{
            width: 100%;
            height: 130px;

            .account-cover-avatar{
                @include avatar(70px);
            }
        }
        &.show-sidebar{
           .sidebar, .sidebar-footer{
                left:0px;
            }
        }
    }

}

.sidebar-panel{
    position: fixed;
    width: 240px;
    height: 100%;
    top: 0px;
    z-index: 20;
    background: $sidebar;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    display: none;
    left: 240px;
    @include transition(all 0.1s ease-in-out);

    &.show{
        display: block;
    }
}