.post-list{
	.card-title{
		a{
			font-size: 1rem;
			color: $gray-dark;
		}
	}

	.card-subtitle{
		margin-top: 0;
		text-transform: capitalize;
		font-weight: 400;
		font-size: 0.8rem;
		a{
			color: $gray-light;
		}
		span{
			margin-right: 10px;
		}
	}

	p{
		margin-bottom: 0;
	}

	.post-meta {
		margin: 0;
		line-height: 1.8;
		padding: 0;
		li {
			display: inline-block;
			margin-right: 10px;
			text-transform: capitalize;
			font-size: 0.8rem;
			color: $gray-light;
			&:last-child {
				margin: 0;
			}
			i {
				margin-right: 5px;
				font-size: 0.8rem;
			}
		}
	}

	.card-footer{
		padding: 0;

		.nav-pills{
			.nav-item{
				border-right: 1px solid #ddd;
				.nav-link{
					border-radius: 0;
					color: $gray-dark;

					&:hover, &.active{
						background-color: $gray-lighter;
					}
				}

				&:last-child{
					border-right: none;
				}
			}
		}
	}
}