.trademark-logo {
	img {
		width: auto;
		height: 30px;
	}
}
footer{
	position: relative;
	padding: 35px 20px;
	background: #f8f8f8;

	ul{
		margin: 25px auto 35px;

		li{
			margin: 0 3rem;
			a{
				color: $gray-dark;

				&:focus, &:hover{
					color: $primary-color;
				}
			}
		}
	}

	.trademark-text {
		text-transform: uppercase;
		font-size: 12px;
		margin: 25px 0px;
		color: $gray-light;
	}

}