.trademark-logo {
	img {
		width: auto;
		height: 30px;
	}
}
footer{
	position: relative;
	padding: 35px 20px;
	border-top: 1px solid rgba(120, 130, 140, 0.13);

	ul{
		margin: 25px auto 35px;

		li{
			margin: 0 3rem;
			a{
				color: $gray-dark;

				&:focus, &:hover{
					color: $primary-color;
				}
			}
		}
	}

	.trademark-text {
		text-transform: uppercase;
		font-size: 12px;
		margin: 25px 0px;
		color: $gray-light;
	}

}

@media(max-width:767px) {
	footer{
		ul{
			li{
				margin: 1rem !important;
				display: block !important;
			}
		}
	}
}