body{
	background-color: #f3f3f3;
}

.pace {
    .pace-progress {
        background: $primary-color;
    }
    .pace-progress-inner {
        box-shadow: 0 0 10px $primary-color, 0 0 5px $primary-color;
    }
    .pace-activity {
        border-top-color: $primary-color;
        border-left-color: $primary-color;
    }
}

.welcome{
	position: relative;
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100vh;
}


.nav-bottom{
	list-style: none;
	padding: 0;
	margin-top: 1rem;
	text-align: center;

	li{
		display: inline-block;
		a{
			text-transform: uppercase;
			padding: 0.5rem 1rem;
			letter-spacing: 0.1rem;
			font-weight: 700;
			display: block;

			&:hover{
				color: $primary-color;
			}
		}
	}
}