/*******************
Main sidebar
******************/

.sidebar {
    position: absolute;
    width: 240px;
    height: 100%;
    top: 0px;
    z-index: 20;
    padding-top: 60px;
    background: $sidebar;
    /*box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);*/

    .slimScrollDiv{
        overflow: visible !important;
    }
}

.fix-sidebar .sidebar{
    position: fixed;
}
/*******************
use profile section
******************/

.account-cover{
    width: 100%;
    height: 130px;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: center center !important;

    .account-cover-avatar{
        @include avatar(50px);
        position: absolute;
        bottom: 15px;
        left: 20px;
        border: 3px solid $white;
        border-radius: 3px;
        box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        border-radius: 50%;
    }

    .account-cover-name{
        position: absolute;
        bottom: 23px;
        left: 85px;
        max-width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        a{
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            position: relative;
            color: $white;
            text-rendering: optimizelegibility;
            text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
            padding-right: 30px;
            display: block;
        }

        small{
            a{
                font-size: 11px;
            }
        }
    }

    .account-cover-action{
        position: absolute;
        bottom: 15px;
        left: 90px;
    }
}

.user-profile {
    text-align: center;
    position: relative;
    .profile-img {
        width: 50px;
        margin: 0 auto;
        border-radius: 100%;
        &::before {
            -webkit-animation: 2.5s blow 0s linear infinite;
            animation: 2.5s blow 0s linear infinite;
            position: absolute;
            content: '';
            width: 50px;
            height: 50px;
            top: 0;
            margin: 0 auto;
            border-radius: 50%;
            z-index: 0;
        }
        @-webkit-keyframes blow {
            0% {
                box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
                opacity: 1;
                -webkit-transform: scale3d(1, 1, 0.5);
                transform: scale3d(1, 1, 0.5);
            }
            50% {
                box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
                opacity: 1;
                -webkit-transform: scale3d(1, 1, 0.5);
                transform: scale3d(1, 1, 0.5);
            }
            100% {
                box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
                opacity: 0;
                -webkit-transform: scale3d(1, 1, 0.5);
                transform: scale3d(1, 1, 0.5);
            }
        }
        @keyframes blow {
            0% {
                box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
                opacity: 1;
                -webkit-transform: scale3d(1, 1, 0.5);
                transform: scale3d(1, 1, 0.5);
            }
            50% {
                box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
                opacity: 1;
                -webkit-transform: scale3d(1, 1, 0.5);
                transform: scale3d(1, 1, 0.5);
            }
            100% {
                box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
                opacity: 0;
                -webkit-transform: scale3d(1, 1, 0.5);
                transform: scale3d(1, 1, 0.5);
            }
        }
        img {
            width: 100%;
            border-radius: 100%;
        }
    }
    .profile-text {
        padding: 5px 0;
        position: relative;
        a {
            color: $gray;
        }
    }
    .dropdown-menu {
        left: 0px;
        right: 0px;
        width: 180px;
        margin: 0 auto;
    }
}


/*******************
sidebar footer
******************/

.sidebar-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    transition:0.2s ease-out;
    width: 240px;
    background: $sidebar-alt;
    border-top: 1px solid $border;
    a {
        padding: 15px;
        width: 33.333337%;
        float: left;
        text-align: center;
        font-size: 18px;
        color: $gray;
    }
}


/*******************
sidebar navigation
******************/

.sidebar-scroll {
    padding-bottom: 60px;
    padding-top: 0px;
}

.collapse.in {
    display: block;
}

.sidebar-nav {
    background: $sidebar;
    ul {
        margin: 0px;
        padding: 0px;
        li {
            list-style: none;
            a {
                color: $white;
                padding: 10px 35px 10px 15px;
                display: block;
                font-size: 0.8rem;
                white-space: nowrap;
                &.active,
                &:hover {
                    color: $white;
                }
                &.active {
                    background-color: #304047;
                }
                &:hover {
                    background-color: $primary-color;
                }
            }
            ul {
                background: rgba(0,0,0,.2);
                li {
                    a {
                        padding: 10px 35px 10px 40px;
                        i {
                            width: 25px;
                        }
                    }
                    ul {
                        li {
                            a {
                                padding: 10px 35px 10px 68px;
                            }
                        }
                    }
                }
            }
            &.nav-small-cap {
                font-size: 0.7rem;
                padding: 15px 14px 10px 20px;
                color: $gray-lighter;
                font-weight: 500;
            }
            &.nav-devider{
                height: 1px;
                background: $border;
                display: block;
                margin: 20px 0;
            }
        }
    }
    > ul > li {
        &.active > a {
            color: $white;
            i {
                color: $white;
            }
        }
    }
    > ul > li > a {
        i {
            width: 25px;
            font-size: 1rem;
            display: inline-block;
            color: $white;
        }
        img{
            display: inline-block;
            height: 20px;
        }
        .label {
            float: right;
            margin-top: 6px;
        }
    }
}

.sidebar-nav .has-arrow {
    position: relative;
    &::after {
        position: absolute;
        content: '';
        width: .4em;
        height: .4em;
        border-width: 1px 0 0 1px;
        border-style: solid;
        border-color: $white;
        right: 1em;
        -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%);
        -o-transform: rotate(-45deg) translate(0, -50%);
        transform: rotate(-45deg) translate(0, -50%);
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
        top: 50%;
        -webkit-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
}

.sidebar-nav .active > .has-arrow::after,
.sidebar-nav li > .has-arrow.active::after,
.sidebar-nav .has-arrow[aria-expanded="true"]::after {
    -webkit-transform: rotate(-135deg) translate(0, -50%);
    -ms-transform: rotate(-135deg) translate(0, -50%);
    -o-transform: rotate(-135deg) translate(0, -50%);
    transform: rotate(-135deg) translate(0, -50%);
}


.right-sidebar{
    position: fixed;
    right: -240px;
    width: 240px;
    display: none;
    z-index: 1100;
    background: $white;
    padding-bottom: 20px;
    height: 100%;
    box-shadow: 5px 1px 40px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    .top-title{
        position: relative;
        padding: 15px;
        background: #ddd;
        z-index: 1100;

        h6{
            margin: 0;
            color: $gray-dark;
            font-size: 0.9rem;
        }

        a{
            color: $gray-dark;
            font-size: 0.9rem;
        }
    }
}

.show-rightside {
    right: 0px;
    width: 240px;
    display: block;
}

/****************
When click on sidebar toggler and also for tablet
*****************/

@media(min-width:768px) {
    .mini-sidebar{
        .account-cover{
            width: 60px;
            height: 70px;

            .account-cover-avatar{
                @include avatar(40px);
                left: 10px;
            }
        }
    }
    .mini-sidebar .sidebar-nav #sidebar-navigation li {
        position: relative;
    }
    .mini-sidebar .sidebar-nav #sidebar-navigation > li > ul {
        position: absolute;
        left: 60px;
        /* top: 51px; */
        width: 200px;
        z-index: 1001;
        background: $sidebar-alt;
        display: none;
        padding-left: 1px;
    }
    .mini-sidebar .sidebar-nav #sidebar-navigation > li:hover > ul {
        height: auto !important;

        overflow: auto;
    }
    .mini-sidebar .sidebar-nav #sidebar-navigation > li:hover > ul,
    .mini-sidebar .sidebar-nav #sidebar-navigation > li:hover > ul.collapse {
        display: block;
    }
    .mini-sidebar .sidebar-nav #sidebar-navigation > li > a.has-arrow:after {
        display: none;
    }
    .mini-sidebar {
        .sidebar {
            width: 60px;
        }
        .user-profile {
            padding-bottom: 30px;
            width: 60px;
        }
        .sidebar-scroll{
            padding-bottom: 0px;
            position: absolute;
        }
        .hide-menu,
        .nav-small-cap,
        .sidebar-footer,
        .user-profile .profile-text {
            display: none;
        }
        .nav-devider{
            width: 60px;
            }
        .sidebar-nav{ background: transparent;}
        .sidebar-nav #sidebar-navigation > li > a{
            padding: 10px 15px 10px 15px;
            width: 60px;
            text-align: center;
        }
        .sidebar-nav #sidebar-navigation > li:hover > a {
            width: 260px;
            background: $primary-color;
            color: $white;
            border-color: $primary-color;
            i {
                color: $white;
            }
            .hide-menu {
                display: inline;
            }
        }
        .sidebar-nav #sidebar-navigation > li.active > a{
            border-color:transparent;
            &.active{
                border-color:$primary-color;
            }
        }
    }
}
@media(max-width:767px) {
    .mini-sidebar{
        .sidebar{position: fixed;}
        .sidebar, .sidebar-footer{
            left:-240px;
        }
        .account-cover{
            width: 100%;
            height: 130px;

            .account-cover-avatar{
                @include avatar(70px);
            }
        }
        &.show-sidebar{
           .sidebar, .sidebar-footer{
                left:0px;
            }
        }
    }

}
