/** UI - Buttons **/
.btn{
	&.btn-icon {
  		position: relative;
  		padding-right: 45px;

  		i {
	  		position: absolute;
	  		right: 0;
	  		top: 0;
	  		height: 100%;
	  		padding: 9px;
  		}
  	}

  	&.btn-xs{
		&.btn-icon {
	  		padding-right: 35px;

	  		i {
		  		padding: 3px 7px;
	  		}
	  	}
  	}

  	&.btn-sm{
		&.btn-icon {
	  		padding-right: 40px;

	  		i {
		  		padding: 8px;
	  		}
	  	}
  	}

  	&.btn-lg{
  		&.btn-icon {
	  		padding-right: 55px;

	  		i {
		  		padding: 11px;
	  		}
	  	}
  	}

  	&.btn-xl{
  		&.btn-icon {
	  		padding-right: 95px;

	  		i {
		  		padding: 20px;
	  		}
	  	}
  	}
}
.btn-default{
	color: #333;
	background: #fff;
	border-color: #ccc;

	&:hover{
		background: #e6e6e6;
		border-color: #adadad;
	}

	&:focus, &:active, &.active{
		background: #e6e6e6;
		border-color: #adadad;
	}

	&.btn-icon {
		i{
			background: #e6e6e6;
		}
	}
}
.btn-primary{
	background: $brand-primary;
	border-color: $brand-primary;

	&:hover{
		background: lighten($brand-primary, 5%);
		border-color: lighten($brand-primary, 5%);
	}

	&:focus, &:active, &.active{
		background: darken($brand-primary, 5%);
		border-color: darken($brand-primary, 5%);
	}

	&.btn-icon {
		i{
			background: darken($brand-primary, 5%);
		}
	}
}

.btn-secondary{
	background: $brand-secondary;
	border-color: $brand-secondary;
	color: #fff;

	&:hover{
		background: lighten($brand-secondary, 5%);
		border-color: lighten($brand-secondary, 5%);
		color: #fff;
	}

	&:focus, &:active, &.active{
		background: darken($brand-secondary, 5%);
		border-color: darken($brand-secondary, 5%);
		color: #fff;
	}

	&.btn-icon {
		i{
			background: darken($brand-secondary, 5%);
		}
	}
}

.btn-success{
	background: $brand-success;
	border-color: $brand-success;

	&:hover{
		background: lighten($brand-success, 5%);
		border-color: lighten($brand-success, 5%);
	}

	&:focus, &:active, &.active{
		background: darken($brand-success, 5%);
		border-color: darken($brand-success, 5%);
	}

	&.btn-icon {
		i{
			background: darken($brand-success, 5%);
		}
	}
}

.btn-info{
	background: $brand-info;
	border-color: $brand-info;

	&:hover{
		background: lighten($brand-info, 5%);
		border-color: lighten($brand-info, 5%);
	}

	&:focus, &:active, &.active{
		background: darken($brand-info, 5%);
		border-color: darken($brand-info, 5%);
	}

	&.btn-icon {
		i{
			background: darken($brand-info, 5%);
		}
	}
}

.btn-warning{
	background: $brand-warning;
	border-color: $brand-warning;
	color: $white;

	&:hover{
		background: lighten($brand-warning, 5%);
		border-color: lighten($brand-warning, 5%);
		color: $white;
	}

	&:focus, &:active, &.active{
		background: darken($brand-warning, 5%);
		border-color: darken($brand-warning, 5%);
		color: $white;
	}

	&.btn-icon {
		i{
			background: darken($brand-warning, 5%);
		}
	}
}

.btn-danger{
	background: $brand-danger;
	border-color: $brand-danger;

	&:hover{
		background: lighten($brand-danger, 5%);
		border-color: lighten($brand-danger, 5%);
	}

	&:focus, &:active, &.active{
		background: darken($brand-danger, 5%);
		border-color: darken($brand-danger, 5%);
	}

	&.btn-icon {
		i{
			background: darken($brand-danger, 5%);
		}
	}
}

.btn-default{
	&.btn-icon {
		i{
			background: #ddd;
		}
	}
}

.btn-light{
	&.btn-icon {
		i{
			background: #e2e6ea;
		}
	}
}

.btn-dark{
	&.btn-icon {
		i{
			background: #23272b;
		}
	}
}

.btn-xs {
	padding: 0.125rem 0.45rem;
	font-size: 0.675rem;
	border-radius: 0.2rem;
}
.btn-group-xs {
	>.btn {
		padding: 0.125rem 0.45rem;
		font-size: 0.675rem;
		border-radius: 0.2rem;
	}
}
.btn-xl {
	padding: 1rem 1.25rem;
	font-size: 2rem;
	border-radius: 0.3rem;
}
.btn-group-xl {
	>.btn {
		padding: 1rem 1.25rem;
		font-size: 2rem;
		border-radius: 0.3rem;
	}
}
.btn-outline-default {
	background: none;
	border-color: #ddd;
}
.btn.btn-link.btn-default {
	color: #b8b8b8;
}
.btn-link {
	border: 0;
	padding: 0.5rem 0.7rem;
	background: none;
	color: $brand-primary;

	&:hover, &:focus{
		background: none !important;
		background-color: transparent !important;
		color: #014c8c;
	}

	&.dropdown-toggle{
		background: none !important;
		background-color: transparent !important;
	}

	&.btn-primary{
		color: $brand-primary;

		&:hover, &:focus{
			color: lighten($brand-primary, 5%);
		}
	}

	&.btn-secondary{
		color: $brand-secondary;

		&:hover, &:focus{
			color: lighten($brand-secondary, 5%);
		}
	}

	&.btn-success{
		color: $brand-success;

		&:hover, &:focus{
			color: lighten($brand-success, 5%);
		}
	}

	&.btn-info{
		color: $brand-info;

		&:hover, &:focus{
			color: lighten($brand-info, 5%);
		}
	}

	&.btn-warning{
		color: $brand-warning;

		&:hover, &:focus{
			color: lighten($brand-warning, 5%);
		}
	}

	&.btn-danger{
		color: $brand-danger;

		&:hover, &:focus{
			color: lighten($brand-danger, 5%);
		}
	}

	&.btn-light{
		color: #f8f8f8;

		&:hover, &:focus{
			color: lighten(#f8f8f8, 5%);
		}
	}

	&.btn-dark{
		color: $gray-dark;

		&:hover, &:focus{
			color: lighten($gray-dark, 5%);
		}
	}
}
